<app-layout-reimbursement
  justifyContent="space-between"
  titleHeader="รายละเอียดสิทธิการเบิกค่าพาหนะ"
>
  <ng-container cardHeader>
    <!-- HEADER -->
    <app-btn-header-link></app-btn-header-link>
  </ng-container>
  <ng-container cardContent>
    <!-- BODY TABLE -->
    <div class="row row-table-header">
      <div class="col">ประเภทพาหนะส่วนตัว</div>
      <div class="col" style="margin-left: 150px">สามารถเบิกได้</div>
    </div>
    <div
      class="row row-table-sub-body"
      *ngFor="let rate of fareRate; index as i"
      [ngClass]="i % 2 === 0 ? 'isBg' : ''"
      [ngStyle]="{
        'border-bottom': fareRate.length - 1 === i ? '1px solid #005fbc' : ''
      }"
    >
      <div class="col">{{ rate.distance }}</div>
      <div class="col">
        <div class="row">
          <div class="col" style="text-align: right">
            <span>{{ rate.amountReimbursement }}</span>
          </div>
          <div class="col">
            <img
              src="assets/icons/info-icon.png"
              alt="info-icon"
              width="15"
              height="15"
              style="cursor: pointer"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            />
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container cardContent>
    <!-- Footer  -->
    <app-footer-detail-reimbursement></app-footer-detail-reimbursement>
  </ng-container>
</app-layout-reimbursement>
