<form class="google-map-wrapper" [formGroup]="personalForm">
  <div class="map-wrapper">
    <div class="dot-wrapper">
      <li></li>
      <span>|</span>
      <span>|</span>
      <span>|</span>
      <span>|</span>
      <li></li>
    </div>

    <!-- Origin -->
    <app-typography-header-input
      title="จุดเริ่มต้น*"
    ></app-typography-header-input>
    <input
      class="inputs-form"
      type="text"
      formControlName="origin"
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Origin"
      #searchOrigin
    />
    <label
      class="error"
      *ngIf="
        getPersonalForm['origin'].errors && getPersonalForm['origin'].touched
      "
      ><span *ngIf="getPersonalForm['origin'].errors['required']"
        >กรุณากรอกจุดเริ่มต้น หรือเลือกจากแผนที่</span
      ></label
    >
    <!-- Destination -->
    <app-typography-header-input title="จุดหมาย*"></app-typography-header-input>
    <input
      class="inputs-form"
      type="text"
      formControlName="destination"
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Destination"
      #searchDestination
    />
    <label
      class="error"
      *ngIf="
        getPersonalForm['destination'].errors &&
        getPersonalForm['destination'].touched
      "
      ><span *ngIf="getPersonalForm['destination'].errors['required']"
        >กรุณากรอกจุดหมาย หรือเลือกจากแผนที่</span
      ></label
    >
  </div>
</form>
<div class="map-wrapper">
  <div style="height: 350px; width: 100%" id="map"></div>
</div>
