<app-layout-reimbursement
  justifyContent="center"
  titleHeader="เบิกค่าพาหนะการเดินทาง"
>
  <!-- Header -->
  <ng-container cardHeader>
    <span routerLink="/reimbursement" class="arrow-back">
      <img src="assets/icons/arrow-back-icon.png" alt="arrow" />
    </span>
  </ng-container>

  <!-- Body -->
  <ng-container cardContent>
    <form [formGroup]="mainForm">
      <div class="container-mxW">
        <p class="header-input" style="width: 100%">ประเภทการเดินทาง*</p>
        <app-dropdowns
          [dropdownOptions]="typeOfTravels"
          placeholderVal="เลือกประเภทการดินทาง"
          (optionChosenEvent)="setTypeOfChosen($event)"
        ></app-dropdowns>
        <!-- Date picker -->
        <div *ngIf="typeChosen">
          <app-typography-header-input
            title="วันที่ต้องการเบิก*"
          ></app-typography-header-input>
          <input
            class="inputs-form"
            type="text"
            placeholder="เลือกวันที่ต้องการ"
            formControlName="date"
          />
          <label
            class="error"
            *ngIf="getMainForm['date'].errors && getMainForm['date'].touched"
            ><span *ngIf="getMainForm['date'].errors['required']"
              >กรุณาเลือกวันที่ต้องการเบิก</span
            ></label
          >
        </div>
      </div>
    </form>

    <!-- Personal -->
    <app-personal-vehicle
      [personalForm]="personalForm"
      *ngIf="typeChosen === typeOfTravels[0]"
    ></app-personal-vehicle>
    <!-- Public -->
    <app-public-transport
      [publicTransportForm]="publicTransportForm"
      *ngIf="typeChosen === typeOfTravels[1]"
    ></app-public-transport>

    <!-- Submit -->
    <div class="submit-wrapper" *ngIf="typeChosen">
      <app-button
        label="ยกเลิก"
        variant="cancel"
        padding="10px 30px"
        routerLink="/reimbursement"
      ></app-button>
      <app-button
        label="ตกลง"
        variant="submit"
        padding="10px 30px"
        [disabled]="isInvalidSubmitted(disabledSubmit, typeChosen)"
        (click)="onSubmitForm()"
      ></app-button>
    </div>
  </ng-container>
</app-layout-reimbursement>
