<form [formGroup]="publicTransportForm">
  <div
    *ngFor="
      let publicTransport of getPublicTransportControl.controls;
      let i = index
    "
  >
    <div class="public-transport-wrapper">
      <!-- Remove Icon -->
      <div class="remove-icon" (click)="removeTransport(i)">
        <img
          width="20"
          height="20"
          src="assets/icons/remove-form-icon.png"
          alt="remove-icon"
        />
      </div>

      <form
        class="container-mxW"
        style="padding: 0 16px"
        [formGroup]="publicTransport"
      >
        <!-- Public Transports -->
        <app-typography-header-input
          title="ประเภทขนส่งสาธารณะ*"
        ></app-typography-header-input>
        <app-dropdowns
          [dropdownOptions]="publicTransports"
          placeholderVal="เลือกประเภทขนส่งสาธารณะ"
          (optionChosenEvent)="setPublicTransportChosen($event, i)"
          validationAlert="กรุณาเลือกประเภทขนส่งสาธารณะ"
        ></app-dropdowns>
        <!-- Name of Works -->
        <app-typography-header-input
          title="ชื่องาน*"
        ></app-typography-header-input>
        <app-dropdowns
          [dropdownOptions]="nameOfWorks"
          placeholderVal="เลือกประเภทการดินทาง"
          (optionChosenEvent)="setNameOfWorkChosen($event, i)"
          validationAlert="กรุณาเลือกชื่องาน"
        ></app-dropdowns>
        <!-- expressway -->
        <app-typography-header-input
          title="ค่าผ่านทางพิเศษ (บาท)*"
        ></app-typography-header-input>
        <input
          class="inputs-form"
          type="text"
          placeholder="กรอกค่าผ่านทางพิเศษ (บาท)"
          formControlName="expresswayFare"
        />
        <!-- Fare Travel -->
        <app-typography-header-input
          title="ค่าเดินทาง (บาท)*"
        ></app-typography-header-input>
        <input
          class="inputs-form"
          type="text"
          placeholder="กรอกค่าเดินทาง"
          formControlName="fareTravel"
        />
        <label
          class="error"
          *ngIf="
            setPublicTransportControl[i].controls['fareTravel'].errors &&
            setPublicTransportControl[i].controls['fareTravel'].touched
          "
          ><span
            *ngIf="
              setPublicTransportControl[i].controls['fareTravel'].errors[
                'required'
              ]
            "
            >กรุณากรอกค่าผ่านทางพิเศษ (บาท)</span
          ></label
        >
        <!-- Update Evidence -->
        <app-typography-header-input
          title="อัปโหลดหลักฐาน*"
        ></app-typography-header-input>
        <app-document-upload
          (onSelectFileEmit)="onSelectFile($event, i)"
          [personalForm]="publicTransportForm"
        ></app-document-upload>
      </form>
    </div>
  </div>
  <div class="add-multi-transport-wrapper">
    <div class="add-transport" (click)="addMoreTransport('', '', '', '', '')">
      <span>
        <img src="assets/icons/add-blue-icon.png" alt="history-icon" />
      </span>
      <p>เพิ่มรถสาธารณะ</p>
    </div>
  </div>

  <!-- Summary -->
  <div class="container-mxW">
    <app-typography-header-input
      title="รวมค่าเดินทาง"
    ></app-typography-header-input>
    <span class="summary">{{ calculateSummaryTravel() }} บาท</span>
  </div>
</form>
