<!-- <div class="col-md-12">
  <agm-map #map [latitude]="lat" [longitude]="lng" [fitBounds]="true">
    <agm-marker
      *ngFor="let coordinate of start_end_mark; let i = index"
      [latitude]="coordinate[0]"
      [longitude]="coordinate[1]"
      [agmFitBounds]="true"
    ></agm-marker>
    <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
      <agm-polyline-point
        *ngFor="let coordinate of latlng; let i = index"
        [latitude]="coordinate[0]"
        [longitude]="coordinate[1]"
      >
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</div> -->

<div style="height: 500px" id="map"></div>
