.form-input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
}

.expressway-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-inline > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
}

.summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #005fbc;
}
