<app-layout-reimbursement
  justifyContent="left"
  titleHeader="รายละเอียดการเบิกค่าพาหนะ"
  margin="0 0 0 40px"
>
  <!-- Header -->
  <ng-container cardHeader>
    <span routerLink="/reimbursement" class="arrow-back">
      <img src="assets/icons/arrow-back-icon.png" alt="arrow" />
    </span>
  </ng-container>

  <ng-container cardContent>
    <!-- Header Profile  -->
    <div class="container-profile">
      <div class="wrapper-profile">
        <img
          class="profile-wrapper"
          [src]="pathProfile"
          alt="profile"
          width="120"
          height="120"
        />
        <!-- Detail Profile -->
        <app-details-profile [userDetail]="userDetail"></app-details-profile>
      </div>
    </div>
  </ng-container>
</app-layout-reimbursement>

<!-- Timeline -->
<app-timeline-approve></app-timeline-approve>
