.container-profile {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}

.wrapper-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-wrapper {
  border-radius: 100%;
}
