<app-layout-reimbursement
  justifyContent="left"
  titleHeader="รายละเอียดการเบิกค่าพาหนะ"
  margin="0 0 0 40px"
>
  <!-- Header -->
  <ng-container cardHeader>
    <span routerLink="/reimbursement" class="arrow-back">
      <img src="assets/icons/arrow-back-icon.png" alt="arrow" />
    </span>
  </ng-container>
  <ng-container cardContent>
    <!-- BODY TABLE -->
  </ng-container>
  <ng-container cardContent>
    <!-- Footer  -->
    <div class="footer-reimbursement-wrapper">
      <p>
        หมายเหตุ: การเบิกค่าพาหนะ เดินทางโดยรถโดยสาร
        สามารถเบิกตามจริงโดยการแนบหลักฐานการชำระเงิน <br />การเบิกค่าพาหนะ
        ครั้งละไม่เกิน 500 บาท/คน
      </p>
      <a routerLink="/reimbursement/fare-rate" class="btn-link btn-history">
        <img
          src="assets/icons/edit-icon.png"
          width="16"
          height="16"
          alt="history-icon"
        />
        แก้ไขอัตราค่าเดินทาง
      </a>
    </div>
  </ng-container>
</app-layout-reimbursement>
