<div class="btn-link-wrapper">
  <a
    routerLink="/reimbursement/history-reimbursement"
    class="btn-link btn-history"
  >
    <img src="assets/icons/history-icon.png" alt="history-icon" />
    ประวัติการเบิก
  </a>
  <a routerLink="/reimbursement/g" class="btn-link btn-primary">
    <img src="assets/icons/comment-icon.png" alt="history-icon" />
    ดูคำขอการเบิก
  </a>
  <a
    routerLink="/reimbursement/form-reimbursement"
    class="btn-link btn-primary"
  >
    <img src="assets/icons/add-icon.png" alt="history-icon" />
    สร้างฟอร์มการเบิก
  </a>
</div>
