/* Header */

.btn-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 24px;
  height: 36px;
  font-size: 14px;
  color: #fff;
  margin: 0 8px;
}

.btn-link:hover {
  opacity: 0.9;
}

.btn-history {
  background: linear-gradient(90deg, #e69755 0.1%, #ff5444 100.01%);
}

.btn-primary {
  background: linear-gradient(270.74deg, #2e3579 0.35%, #005fbc 99.1%);
}

@media screen and (max-width: 950px) {
  .btn-link-wrapper {
    margin-top: 24px;
    justify-content: center;
  }
}
